/* Importing font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Global reset for margin, padding, and box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Header styling */
.header {
  background-color: black;
  width: 100%;
}
/* Navigation styling */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1200px;
  height: 50px;
  padding: 33px 40px;
  margin: 0 auto;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
/* Navigation menu styling */

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 23px;
  padding: 0 30px;
}
/* Logo styling */
.logo {
  width: 110px;
  height: 50px;
}
.logo img {
  width: 100%;
  height: 100%;
  margin-left: 37px;
}
/* Navigation item styling */
.item {
  list-style: none;
  padding-right: 6px;
}
.item a {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 0 4px;
}

/* Hover effect for navigation items */

.item a:hover {
  color: #00ffa7;
}
/* Menu bar for mobile view */
.menu-bar {
  display: none;
}
/* Main content styling */
.main {
  width: 100%;
  min-height: 100vh;
}
/* Hero section styling */
.hero {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #060606;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
/* Primary heading styling */
.heading-primary {
  font-size: 5rem;
  color: #ffffff;
  padding: 60px 70px 0px 70px;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 0.4rem;
  line-height: 5rem;
}
/* Gradient styling for part of the heading */
.h-gradiant {
  background: -webkit-linear-gradient(45deg, #ffff00, #00ffa7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.1rem;
}
/* Paragraph styling in hero section */
.hero p {
  padding: 20px 50px;
  color: #ffffff;
  font-size: 0.8rem;
}
/* Button styling */
.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 8rem;
  margin: 5px auto;
  padding: 8px 12px;
  border-radius: 30px;
  border: none;
  outline: none;
  margin-bottom: 4rem;
}
/* Arrow image styling */
.img-arrow {
  padding: 4px 4px;
  background-color: rgb(0, 0, 0);
  border-radius: 70px;
  width: 20px;
}
.services {
  max-width: 800px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  padding: 40px 0px;
}
/* Secondary heading styling */

.heading-secondary {
  font-size: 2rem;
  width: 100%;
}
/* Service card styling */

.service-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Service title styling */
.service-title {
  font-size: 0.8rem;
  font-weight: 500;
}
.arrow {
  display: flex;
  gap: 5px;
}
/* Grid layout styling */
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  padding: 20px 0px;
}
/* Card styling */
.card {
  width: 190px;
  height: 260px;
  border: 2px solid black;
  border-radius: 10px;
}
/* Card heading styling */
.card-heading {
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  padding: 5px;
  gap: 5px;
}
/* Image container styling for card heading */
.img-card-heading {
  padding-top: 4px;
}
/* Card heading text styling */
.card-heading p {
  font-size: 0.6rem;
  font-weight: 600;
}
/* Card body styling */
.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  width: 100%;
  height: 160px;
  overflow: hidden;
}
/* Card body heading styling */
.card-body h3 {
  font-size: 1rem;
  padding: 10px 5px;
  line-height: 1rem;
}
/* Card body image styling */
.card-body img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Card footer styling */
.card-footer {
  border-top: 2px solid black;
  padding: 5px;
}
/* Card footer button styling */
.card-footer button {
  border: 2px solid black;
  float: right;
}
/* Button styling within card footer */
.card-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 5.5rem;
  margin: 5px auto;
  padding: 4px 4px;
  border-radius: 30px;
  border: none;
  outline: none;
  margin-bottom: 4rem;
}
/* Styling for image within card footer */
.card-footer-image {
  padding: 5px 3px;
  background: linear-gradient(45deg, #ffff00, #00ffa7);
  border-radius: 70px;
  width: 15px;
}
/* Footer styling */
.footer {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
}
.f-img {
  width: 100px;
}
/* Footer image styling */
.f-img img {
  width: 100%;
}
.line {
  width: 700px;
  height: 0.1px;
  margin: 20px;
  background-color: rgb(134, 134, 134);
}

/* Media queries for mobile responsiveness */
@media screen and (max-width: 768px) {
  .nav-menu {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #141414;
    padding: 10px;
    justify-content: center;
    z-index: 0;
    top: -250px;
    transition: all 0.5s ease-in-out;
  }
  .heading-primary {
    line-height: 1.8rem;
    font-size: 2rem;
    text-wrap: wrap;
  }
  .hero p {
    font-size: 0.4rem;
  }
  .active {
    display: flex;
    flex-direction: column;
    top: 67px;
  }
  .line {
    width: 200px;
    height: 0.1px;
    margin: 10px;
  }
  .btn {
    width: 6.5rem;
    margin: 5px auto;
    padding: 7px;
    margin-bottom: 4rem;
    font-size: 0.6rem;
  }
  .img-arrow {
    padding: 2px 2px;
    width: 16px;
  }
  .heading-secondary {
    font-size: 1rem;
    padding-left: 2.8rem;
    width: 100%;
  }
  .service-title {
    font-size: 0.5rem;
    font-weight: 500;
    padding-left: 2.8rem;
  }

  .menu-bar {
    display: block;
    color: #ffffff;
  }
}
